/* FONTS */
$font-primary: 'Roboto', sans-serif;
$font-size-title: 42px;
$font-size: 16px;

/* COLORS */
$color-primary: #46344e;
$color-secondary: white;
$color-background: #b4dfe5;
$color-star-off: grey;
$color-star-on: #fce181;