h1 {
    text-transform: uppercase;
    font-size: $font-size-title;
    color: $color-secondary;
    margin: 30px 30px;
}
        
h2, h3, h4 {
    text-transform: capitalize;
    color: $color-primary;
    text-shadow: none;
}

body {
    font-family: $font-primary;
    background-color: $color-background;
    $font-size: 16px;
    color: $color-primary;
}

header {
    padding: 0px;
    display: flex;
    height: 10%;
    width: 100%;
    background-color: $color-primary;
}

main {
    margin: 30px 30px;
}

.series__container {
    & h2 {
    width: 100%;
    }
    &-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 15px;
        background-color: white;

        &:last-child {
            align-items: flex-start;
        }
    }
}

.results-item {
    border: solid 1px #eeeeee;
    border-radius: 5px;
    margin: 15px 10px;
    position: relative;
    width: 30%;
    max-width: 250px;

    &-favourite {
        text-shadow: -0.5px -0.5px 2px $color-secondary;
        position: absolute;
        top: 12px;
        right: 12px;
        color: $color-star-off;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            text-shadow: 0px 0px 2px $color-primary;
            color: $color-star-on;
        }
    }

    &.favourite &-favourite {
        text-shadow: 0px 0px 2px $color-primary;
        color: $color-star-on;
    }

    & img {
        display: block;
        width: 100%;
    }
}

.img-fav-size div {
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 1500px;
}